package com.example.clock.utils;

public class SecretKeys {
    // ESEMPIO DI FILE SEGRETO.
    // Rinomina questo file in 'SecretKeys.java' e inserisci la tua chiave.
    public static final String SECRET_SALT = "INSERISCI_QUI_LA_TUA_CHIAVE";
}
